.NavbarIcon{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 44px;
    padding: 4px 8px;
    background-color: #262626;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 2;
}

.NavbarIcon span{
    width: 100%;
    height: 4px;
    display: block;
    background: #fff;
    margin: 6px 0;
    transition: .5s;
}

.NavbarIcon.action span{
    position: absolute;
    width: calc(100% - 16px);
    top: calc(50% - 8px);
}

.NavbarIcon.action span:nth-child(1){
    transform:rotate(45deg);
}
.NavbarIcon.action span:nth-child(2){
    display: none;
}
.NavbarIcon.action span:nth-child(3){
    transform:rotate(-45deg);
}

.Navbar{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: #262626;
    transition: .5s;
    padding: 20px 0;
    text-align: center;
    box-sizing: border-box;
}

.Navbar.action{
    left: 0px;
}

.Navbar .NavbarMenu{
    margin: 0;
    padding: 10px 0;
}
.Navbar .NavbarMenu li{
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Navbar .NavbarMenu li a{
    display: block;
    padding: 10px 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.Navbar .NavbarMenu li a.active {
    color: red;
}
.Navbar .NavbarMenu li a:hover{
    background: #fc2827;
    color: #fff;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .Navbar{
        left: -250px;
        width: 250px;   
    }
}

/* social */

ul.NavbarSocialIcon{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 40px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

ul.NavbarSocialIcon li{
    width: 20%;
    text-align: center;
    list-style: none;
}
ul.NavbarSocialIcon li a{
    display: block;
    font-size: 18px;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: .5s;
}
ul.NavbarSocialIcon li a:hover{
    background-color: #fc2827;
}



